.title {
  @apply text-[40px] md:text-[70px] leading-[1.5] text-hero-title font-bold translate-y-[100px];
}

.subtitle {
  @apply mb-8 text-xl font-normal tracking-[.3rem] text-hero-subtitle translate-y-[50px];
}

.largeTitle {
  @apply absolute -left-[20px] bottom-0 text-[300px] leading-[0] font-bold text-hero-largeTitle -translate-x-full;
}

.profileImage {
  @apply absolute right-0 object-cover bottom-0 size-[600px] md:size-[850px] lg:size-[1050px] lg:translate-y-[120px] translate-x-[60px] opacity-0 z-0;
}

.gradientOverlay {
  @apply absolute right-0 bottom-0 h-full w-full z-10 bg-gradient-to-r from-hero-gradientFrom to-hero-gradientTo;
}

.cta {
  @apply px-6 py-4 bg-hero-buttonBackground text-hero-buttonText font-semibold tracking-wider uppercase;

  svg {
    @apply ml-4 transition duration-300 ease-in-out;
  }

  &:hover {
    svg {
      @apply -rotate-45 scale-150;
    }
  }

  &Secondary {
    @extend .cta;

    @apply bg-transparent hover:bg-transparent hover:underline;
  }
}
