.main {
  @apply w-full pb-2 md:pb-8 lg:pb-20 pt-8 md:pt-20 lg:pt-40 flex items-center justify-center overflow-hidden;
}

.title {
  @apply w-full text-[50px] font-bold text-service-title text-center translate-y-[100px];
}

.subtitle {
  @apply text-2xl text-service-subtitle font-bold;
}

.text {
  @apply text-service-text text-opacity-75;
}

.item {
  @apply flex flex-col items-center md:items-start text-center md:text-left p-8 space-y-4 transition duration-300 ease-in-out;

  &Border {
    @apply border border-service-border;

    &:Hover {
      @apply bg-service-borderHoverBackground;
    }
  }

  &Background {
    @apply bg-service-background;

    &:Hover {
      @apply bg-service-backgroundHover;
    }
  }
}
