.toggleButton {
  @apply block text-light-header-link dark:text-dark-header-link no-underline cursor-pointer z-[999];

  font-size: 24px;
  background: none;
}

.menu {
  @apply absolute top-full right-0 w-full h-[90vh] flex flex-col items-center justify-center space-y-3 bg-light-header-backgroundMobileToggle dark:bg-dark-header-backgroundMobileToggle;

  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
}

.link {
  @apply block py-2 text-light-header-link dark:text-dark-header-link text-2xl font-bold no-underline;
}
